body {
    background-color: cornflowerblue;
    background-image: url('./images/mountains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    height: 600px;
    width: 450px;
    border: 5px solid gray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 450px 1fr;
    height: 600px;
}

header {
    text-align: center;
    padding: 10px;
}

button {
    cursor: pointer;
    background-color: aliceblue;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: medium;
}

.game-screen {
    margin-top: 15px;
}

.instructions, .game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: lavender;
    border-radius: 12px;
    padding: 10px;
}

.hidden {
    visibility: hidden;
}

#left,
#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}